



*[class^="prlx"] {
  position: absolute;
  width: 100%;
  height: 300%;
  top:0;
  left:0;
  z-index: -1;
}
.prlx-1{ background: url('../images/bg2.jpg') repeat; }
.prlx-2{ background: url('../images/bg.jpg') repeat; }



.section-one, .section-two, .section-three{
	width: 100%; min-height: 500px;
	position: relative;
	overflow: hidden;
}
.section-one, .section-three{
}
